body{
     
    margin: 0px;

}

#logo{

    color:  white;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 30px;

}

#navbar{

    display: flex;
    background-color: rgb(174, 4, 4);
    height: 70px;
}
#searchbar{

    margin-top: 20px;
    margin-left: 930px;
     
}
#search{
    border-radius: 5px;
    background-color: blue;
    font-weight: 700;
    margin-left: 7px;
     
}

.wel{

    font-size: 40px;
    color: black;
    font-weight: 700;
    margin-bottom: 0px;
    font-family: arial;

}
.title{

    color: black;
}
nav{
    text-decoration: none;
     color: blue;
    font-weight: 700;
    
}

#marquee{
    font-size: 20px;
    font-family: monospace;
    font-weight: 700;
}
h1{

    font-size: 40px;
    
}
.color{
    color: orange;
    margin-top: 0px;
}
#welcome{
    height: 400px;
    width: 500px;
    margin-left: 100px;
    margin-top: 50px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
     

}
#para1{
    background-color: blanchedalmond;
    border-radius: 5px;
    padding: 5px;
    text-align: left;
}

 
section{

    display: flex;
}
#hire{

    text-decoration:none ;
    background-color: orange;
    border-radius: 5px;
    padding: 4px;
    background-image: linear-gradient(rgb(194, 72, 6));
    font-weight: 700;
    font-size: 12px;
}
#welcome1{

    height: 400px;
    width: 500px;
     
    margin-left: 100px;
    margin-top: 100px;
    padding: 20px;
    margin-left: 300px;

}

#downborder{

    height: 70px;
    width: 100%;
    background-color: rgb(160, 12, 12);

}
 .section{

    
    background-image: linear-gradient( to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(./img/back3.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;



}

.img2{

        height: 400px;
        margin: 100px;
}
.section3{
    display: flex;
     
}
.bigdream{

    font-size: 30px;
    margin-top: 90px;
    margin-left: 150px;


}
.para3{
    margin-left: 150px;
    font-weight: 700;
}
.para4{
    margin-left: 150px;

}
.button4{
    background-color: rgb(255, 68, 0);
    font-weight: 700;
    margin-left: 150px;
    border-radius: 5px;
    color: aliceblue;
}

.div4{
    height: 300px;
    width: 400px;
    background-color: whitesmoke;
    margin-left: 150px;
    margin-top: 60px;
    padding: 30px;
    margin-bottom: 50px;
    
    box-shadow: 10px 10px 20px rgb(64, 55, 55);
    border-left: 7px solid;
    border-image: linear-gradient( orangered,cyan);
    border-image-slice: 1;
    
}
.h14{

    font-size: 30px;
}
.h34{
    color: orangered;
}

footer{
    text-align: center;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 10px;
}